{%  extends 'plantilla/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					
					<a class="btn" href="">Regresar</a>          <a class="btn" href="{% url 'pdf_download' 'desempenio' %}">Imprimir</a>
					
				</div>

				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Equipo</th>
							<th>Cantidad Encuestas</th>
							<th>DSAT</th>
							<th>DSAT%</th>
						</tr>
						
						<tr>
							<td>Support Hotel</td>
							<td>10</td>
							<td>54</td>
							<td>16.0%</td>
						</tr>
						<tr>
							<td>Support Viaje</td>
							<td>68</td>
							<td>78</td>
							<td>32.0%</td>
						</tr>
						<tr>
							<td>Support Paquete</td>
							<td>78</td>
							<td>43</td>
							<td>11.0%</td>
						</tr>
						<tr>
							<td>Total</td>
							<td>156</td>
							<td>175</td>
							<td>59.0%</td>
						</tr>
					</table>
				</div>
			</div>
			
		</div>
		

{% endblock content %}