{%  extends 'plantilla/main.html' %}

{% block content %}

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			
			<h2><strong>Datos de Entrada</strong></h2>

			<label class="col-md-3 form-control-label" for="text-input">Nombre Equipo<b class="alerta">*</b></label>
			<div class="col-md-4">
                <input type="text" class="form-control" placeholder="Nombre de equipo">

            <a class="btn btn-info" href="">Generar</a>
            </div>
		</div>
	</div>
</div>

{% endblock content %}