{%  extends 'plantilla/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Supervisores <a class="btn btn-info" href="{% url 'pdf_view' 'supervisor' %}" target="_blank">Ver PDF</a> 
					<a class="btn btn-info"  href="{% url 'pdf_download' 'supervisor' %}">Descargar PDF</a> </h5>
					
				</div>
				
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>SALID</th>
							<th>Supervisor</th>
							<th>Team Manager</th>
						</tr>
						
						{% for supervisor in supervisors %}
						<tr>
							<td>{{ supervisor.salid }}</td>
							<td>{{ supervisor.sup_nombre }}</td>
							<td>{{ supervisor.tm_nombre }}</td>
						</tr>
						{% endfor %}

					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}